* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 340px;
    text-shadow: 1px 1px 7px rgb(0, 0, 0);
}

/*=========Start Page===================*/
.start-page-container {
    height: 100%;
    background-image: url(./assets/food-hd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header,
nav>ul {
    display: flex;
    list-style-type: none;
}

header,
.recipe-header {
    background-color: #0000009c;
    justify-content: space-between;
    padding: 1.5rem;
}

nav {
    background-color: #2a9cf428;
    border-radius: 2px;
    width: 25rem;
    font-size: 16.5px;
}

nav>ul li {
    padding: 1rem;
}

nav>ul li>a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

nav>ul li>a:hover {
    color: #2eb963;
    text-decoration: underline;
}

.bg-img-credits {
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    padding: .3rem;
    border-radius: 4px;
}

.bg-img-credits a {
    color: #2eb963;
}

.bg-img-credits:hover {
    background-color: #00000050;
}

/*===========Recipe Pages=============*/
.recipe-page-body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)), url(./assets/pascal.jpg);
    background-size: cover;
    padding-left: 5rem;
}

.recipe-page-body:not(h1, h2) {
    font-size: 18px;
    color: aliceblue;
}

.recipe-header {
    margin-left: -5rem;
}

.align-to-bottom {
    bottom: -25rem;
    padding-left: 2rem;
}

h1 > a {
    color: #2eb963;
    text-decoration: underline;
}

h1 > a:hover {
    color: aliceblue;
    text-decoration: none;
}

h2 {
    margin-top: 3rem;
}

figure {
    margin-top: 2rem;
}

figure > img {
    height: 250px;
    width: auto;
    border-radius: 30px;
    border-bottom: 6px solid #2eb963;
}

/*=====Rsponsive============*/
@media only screen and (max-width: 600px) {
  .align-to-bottom {
    bottom: -30rem;
}

header {
    flex-direction: column;
    align-items: center;
}

nav {
    width: auto;
}
}